.wrapper {
  /* width: 200px; */
  max-width: 200px;
  max-height: 400px;
  border: 2px solid rgb(212, 45, 81);

  overflow-y: scroll;
  overflow-x: scroll;

}
.inner {
  font-size: 4em;
  border: 1px solid blue;
}

